name: Build

on:
  repository_dispatch:
    types: [build]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Set Up SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Clone Repository
        run: git clone ${{ github.event.client_payload.repo_url }} source

      - name: Install packages
        run: cd source && npm i

      - name: Build
        run: cd source && ./node_modules/@riddance/env/bin/build.js

      - name: Clone Glue
        run: git clone ${{ github.event.client_payload.glue_repo_url }} glue

      - name: Deploy
        run: | 
          cd source
          export AWS_REGION="${{ github.event.client_payload.region }}"
          export AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}"
          export AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export AWS_SESSION_TOKEN="${{ secrets.AWS_SESSION_TOKEN }}"
          npx -y --package @riddance/deploy@${{ github.event.client_payload.deploy_version }} cli ${{ github.event.client_payload.environment }}
